@* <div class="container mt-2">
    <div class="container row " style="margin-left:60px;width:680px">
        <div class=" col-12">
            <p class="fw-bolder fs-4">Course Content</p>
                    <div class="accordion" id="accordionExample">
                @foreach(var item in Model.Chapters)
                {

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-@item.ID">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@item.ID" aria-expanded="true" aria-controls="collapse-@item.ID">
                                <h5>
                                    @item.Title
                                </h5>
                            </button>
                            </h2>
                            <div id="collapse-@item.ID" class="accordion-collapse collapse show" aria-labelledby="heading-@item.ID" data-bs-parent="#accordionexample">
                                <div class="accordion-body">
                                @foreach(var top in Model.Topics)
                                {
                                    <a href="#">@top</a>
                                }
                            </div>
                            </div>
                        </div>

                }



            </div>


        </div>
    </div>

</div> *@