<div style="background-color:#2d2f31 ;z-index:1;position:fixed; top:0;left:0;right:0;" id="scroll">
    <div class="container">
        <div class="container row " style="margin-left:60px">
            <div class=" col-6  " style="height:65px;box-sizing:border-box;padding:5px 0 0 ">

                <h5 style="color:aliceblue">@Model.CourseName </h5>
                <span style="color:aliceblue">@Model.NumberOfStudent student </span>
                &nbsp
                <partial name="_RatingPartial" /><span style="color:aliceblue">@Model.Rating </span>

            </div>
        </div>
    </div>
</div>