<div style="background-color:#2d2f31 ;z-index:1;position:fixed; top:0;left:0;right:0;" id="scroll">
    <div class="container">
        <div class="container row " style="margin-left:60px">
            <div class=" col-6  " style="height:65px;box-sizing:border-box;padding:5px 0 0 ">

                <h5 style="color:aliceblue">@Model.CourseName </h5>
                <span style="color:aliceblue">
                    <p style="color:orange;display:inline">@Model.Rating</p> &nbsp
                    <partial name="_RatingPartial" /> &nbsp
                    <p style="color:#c0c4fc;display:inline"> (@Model.NumberOfRating ratings) </p> &nbsp
                    <p style="color:aliceblue;display:inline "> @Model.NumberOfStudent students </p>
                </span>

            </div>
        </div>
    </div>
</div>