<div class="container">
    <div class="container mt-4">
        <div class="container row " style="margin-left:60px;width:680px">
            <p class="fw-bolder fs-4">Requirements</p>
            <ul>
                <li>NO prior Angular knowledge is required!</li>
                <li>Basic JavaScript & web development knowledge is required!</li>
            </ul>
        </div>
    </div>
</div>
</div>
